<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="body">
    <h1>Welcome to The ROCK PAPER SCISSOR GAME!</h1>
    <p>Please enter your name:</p>
    <form action="/game" method="post">
      <p>Player : <input id="player1-name-textbox" type="text" name="player1" required></p>
        
      <input id="name-submit" type="submit" value="Ready to Play!">
    </form>
  </body>
</html>
