<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Game Results</title>
  </head>
  <body id="body">
    <h1>The computer choice was <%= computer.choice %></h1>
    <h1>Your choice was <%= playerChoice %></h1>
    <h1><%= result %></h1>
    <button><a href="/">I want to play again</a></button>
  </body>
</html>
